<div class="jumbotron jumbotron-fluid text-center mt-5 bg-primary text-white">
    <div class="container">
        <h1 class="display-4 custom-title">🐛 DEBUGGED & DECONSTRUCTED</h1>
        <p class="lead">A blog where web developers can share programming discoveries and break down web development
            concepts into simple terms.</p>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide h-25" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active h-25">
            <img class="d-block w-100" src="https://picsum.photos/id/180/1200/360?grayscale" alt="First slide">
        </div>
        <div class="carousel-item h-25">
            <img class="d-block w-100" src="https://picsum.photos/id/1/1200/360?grayscale" alt="Second slide">
        </div>
        <div class="carousel-item h-25">
            <img class="d-block w-100" src="https://picsum.photos/id/201/1200/360?grayscale" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="custom-wrapper">

    {{#each blogposts as |blogpost|}}
        <div class="card ml-5 mr-5 mt-5 mb-5" style="width: 18rem;">
            <img class="card-img-top" src={{format_img}} alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">{{blogpost.title}}</h5>
                <p class="card-text">Created by {{user.username}} on {{format_date blogpost.date_created}}</p>
                <a href="/viewpost" class="btn btn-dark">Read More</a>
            </div>
        </div>
    {{/each}}

<script src = "../js/home.js"></script>