    <div class = "w-100 d-flex justify-content-center">
        <img src="https://picsum.photos/id/201/1800/360?grayscale" alt="Card image cap">
    </div>

    <h1 class = "ml-5 mt-5 display-4 custom-title" id = "post-title">ASYNC/AWAIT</h1>

    <p class = "ml-5 mr-5 mt-5 custom-post"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Viverra justo nec ultrices dui sapien eget mi. Viverra tellus 
        in hac habitasse platea dictumst. Enim nulla aliquet porttitor lacus luctus accumsan tortor. Neque volutpat 
        ac tincidunt vitae semper quis lectus. Lacus sed viverra tellus in. Arcu cursus euismod quis viverra. Amet massa 
        vitae tortor condimentum lacinia quis vel eros donec. Sit amet consectetur adipiscing elit ut aliquam purus sit amet. 
        Arcu non odio euismod lacinia at quis risus. Sagittis orci a scelerisque purus. Vitae elementum curabitur vitae nunc sed 
        velit.
    </p>

    <p class = "ml-5 mr-5 custom-post"> Est placerat in egestas erat imperdiet. Ut tortor pretium viverra suspendisse. Varius morbi enim nunc faucibus a pellentesque 
        sit amet. Risus viverra adipiscing at in tellus integer feugiat scelerisque. Vulputate enim nulla aliquet porttitor lacus 
        luctus accumsan. Eget nunc scelerisque viverra mauris. Aenean sed adipiscing diam donec adipiscing tristique risus. Mi in nulla 
        posuere sollicitudin aliquam ultrices. Sed viverra tellus in hac habitasse platea. Sed turpis tincidunt id aliquet risus. 
        Laoreet suspendisse interdum consectetur libero. Sit amet consectetur adipiscing elit ut.
    </p>

    <p class = "ml-5 mr-5 custom-post"> Iaculis urna id volutpat lacus laoreet non. Volutpat est velit egestas dui id ornare. Pellentesque sit amet porttitor eget dolor morbi. 
        Turpis egestas integer eget aliquet nibh praesent. Tincidunt dui ut ornare lectus sit amet est. Odio ut sem nulla pharetra diam sit 
        amet nisl suscipit. At imperdiet dui accumsan sit. Scelerisque eleifend donec pretium vulputate sapien. Donec pretium vulputate sapien nec. 
        Nibh praesent tristique magna sit. Arcu non odio euismod lacinia. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus. 
        Egestas maecenas pharetra convallis posuere morbi leo urna molestie. In aliquam sem fringilla ut morbi tincidunt. Magna etiam tempor 
        orci eu lobortis elementum nibh. Praesent elementum facilisis leo vel fringilla est ullamcorper eget. Nibh nisl condimentum id venenatis. 
        Consectetur purus ut faucibus pulvinar elementum integer enim. Non arcu risus quis varius quam.
    </p>

    <p class = "ml-5 mr-5 custom-post"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Viverra justo nec ultrices dui sapien eget mi. Viverra tellus 
        in hac habitasse platea dictumst. Enim nulla aliquet porttitor lacus luctus accumsan tortor. Neque volutpat 
        ac tincidunt vitae semper quis lectus. Lacus sed viverra tellus in. Arcu cursus euismod quis viverra. Amet massa 
        vitae tortor condimentum lacinia quis vel eros donec. Sit amet consectetur adipiscing elit ut aliquam purus sit amet. 
        Arcu non odio euismod lacinia at quis risus. Sagittis orci a scelerisque purus. Vitae elementum curabitur vitae nunc sed 
        velit.
    </p>

    <p class = "ml-5 mr-5 custom-post"> Est placerat in egestas erat imperdiet. Ut tortor pretium viverra suspendisse. Varius morbi enim nunc faucibus a pellentesque 
        sit amet. Risus viverra adipiscing at in tellus integer feugiat scelerisque. Vulputate enim nulla aliquet porttitor lacus 
        luctus accumsan. Eget nunc scelerisque viverra mauris. Aenean sed adipiscing diam donec adipiscing tristique risus. Mi in nulla 
        posuere sollicitudin aliquam ultrices. Sed viverra tellus in hac habitasse platea. Sed turpis tincidunt id aliquet risus. 
        Laoreet suspendisse interdum consectetur libero. Sit amet consectetur adipiscing elit ut.
    </p>

    <p class = "ml-5 mr-5 custom-post"> Iaculis urna id volutpat lacus laoreet non. Volutpat est velit egestas dui id ornare. Pellentesque sit amet porttitor eget dolor morbi. 
        Turpis egestas integer eget aliquet nibh praesent. Tincidunt dui ut ornare lectus sit amet est. Odio ut sem nulla pharetra diam sit 
        amet nisl suscipit. At imperdiet dui accumsan sit. Scelerisque eleifend donec pretium vulputate sapien. Donec pretium vulputate sapien nec. 
        Nibh praesent tristique magna sit. Arcu non odio euismod lacinia. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus. 
        Egestas maecenas pharetra convallis posuere morbi leo urna molestie. In aliquam sem fringilla ut morbi tincidunt. Magna etiam tempor 
        orci eu lobortis elementum nibh. Praesent elementum facilisis leo vel fringilla est ullamcorper eget. Nibh nisl condimentum id venenatis. 
        Consectetur purus ut faucibus pulvinar elementum integer enim. Non arcu risus quis varius quam.
    </p>

    <p class = "ml-5 mr-5 custom-post"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Viverra justo nec ultrices dui sapien eget mi. Viverra tellus 
        in hac habitasse platea dictumst. Enim nulla aliquet porttitor lacus luctus accumsan tortor. Neque volutpat 
        ac tincidunt vitae semper quis lectus. Lacus sed viverra tellus in. Arcu cursus euismod quis viverra. Amet massa 
        vitae tortor condimentum lacinia quis vel eros donec. Sit amet consectetur adipiscing elit ut aliquam purus sit amet. 
        Arcu non odio euismod lacinia at quis risus. Sagittis orci a scelerisque purus. Vitae elementum curabitur vitae nunc sed 
        velit.
    </p>

    <p class = "ml-5 mr-5 custom-post"> Est placerat in egestas erat imperdiet. Ut tortor pretium viverra suspendisse. Varius morbi enim nunc faucibus a pellentesque 
        sit amet. Risus viverra adipiscing at in tellus integer feugiat scelerisque. Vulputate enim nulla aliquet porttitor lacus 
        luctus accumsan. Eget nunc scelerisque viverra mauris. Aenean sed adipiscing diam donec adipiscing tristique risus. Mi in nulla 
        posuere sollicitudin aliquam ultrices. Sed viverra tellus in hac habitasse platea. Sed turpis tincidunt id aliquet risus. 
        Laoreet suspendisse interdum consectetur libero. Sit amet consectetur adipiscing elit ut.
    </p>

    <p class = "ml-5 mr-5 custom-post"> Iaculis urna id volutpat lacus laoreet non. Volutpat est velit egestas dui id ornare. Pellentesque sit amet porttitor eget dolor morbi. 
        Turpis egestas integer eget aliquet nibh praesent. Tincidunt dui ut ornare lectus sit amet est. Odio ut sem nulla pharetra diam sit 
        amet nisl suscipit. At imperdiet dui accumsan sit. Scelerisque eleifend donec pretium vulputate sapien. Donec pretium vulputate sapien nec. 
        Nibh praesent tristique magna sit. Arcu non odio euismod lacinia. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus. 
        Egestas maecenas pharetra convallis posuere morbi leo urna molestie. In aliquam sem fringilla ut morbi tincidunt. Magna etiam tempor 
        orci eu lobortis elementum nibh. Praesent elementum facilisis leo vel fringilla est ullamcorper eget. Nibh nisl condimentum id venenatis. 
        Consectetur purus ut faucibus pulvinar elementum integer enim. Non arcu risus quis varius quam.
    </p>

    <p class = "ml-5 mr-5 custom-post"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Viverra justo nec ultrices dui sapien eget mi. Viverra tellus 
        in hac habitasse platea dictumst. Enim nulla aliquet porttitor lacus luctus accumsan tortor. Neque volutpat 
        ac tincidunt vitae semper quis lectus. Lacus sed viverra tellus in. Arcu cursus euismod quis viverra. Amet massa 
        vitae tortor condimentum lacinia quis vel eros donec. Sit amet consectetur adipiscing elit ut aliquam purus sit amet. 
        Arcu non odio euismod lacinia at quis risus. Sagittis orci a scelerisque purus. Vitae elementum curabitur vitae nunc sed 
        velit.
    </p>

    <p class = "ml-5 mr-5 custom-post"> Est placerat in egestas erat imperdiet. Ut tortor pretium viverra suspendisse. Varius morbi enim nunc faucibus a pellentesque 
        sit amet. Risus viverra adipiscing at in tellus integer feugiat scelerisque. Vulputate enim nulla aliquet porttitor lacus 
        luctus accumsan. Eget nunc scelerisque viverra mauris. Aenean sed adipiscing diam donec adipiscing tristique risus. Mi in nulla 
        posuere sollicitudin aliquam ultrices. Sed viverra tellus in hac habitasse platea. Sed turpis tincidunt id aliquet risus. 
        Laoreet suspendisse interdum consectetur libero. Sit amet consectetur adipiscing elit ut.
    </p>

    <p class = "ml-5 mr-5 custom-post"> Iaculis urna id volutpat lacus laoreet non. Volutpat est velit egestas dui id ornare. Pellentesque sit amet porttitor eget dolor morbi. 
        Turpis egestas integer eget aliquet nibh praesent. Tincidunt dui ut ornare lectus sit amet est. Odio ut sem nulla pharetra diam sit 
        amet nisl suscipit. At imperdiet dui accumsan sit. Scelerisque eleifend donec pretium vulputate sapien. Donec pretium vulputate sapien nec. 
        Nibh praesent tristique magna sit. Arcu non odio euismod lacinia. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus. 
        Egestas maecenas pharetra convallis posuere morbi leo urna molestie. In aliquam sem fringilla ut morbi tincidunt. Magna etiam tempor 
        orci eu lobortis elementum nibh. Praesent elementum facilisis leo vel fringilla est ullamcorper eget. Nibh nisl condimentum id venenatis. 
        Consectetur purus ut faucibus pulvinar elementum integer enim. Non arcu risus quis varius quam.
    </p>

<script src = "../js/home.js"></script>
