<div class="w-100 d-flex justify-content-center">
    <img src="https://picsum.photos/id/201/1800/360?grayscale" alt="Stock technology image">
</div>

<h1 class="display-1 text-primary ml-5 mt-5 mb-5">Create a Post</h1>

<h4 class="ml-5 mt-5">Write your title below:</h4>

<div class="input-group mb-3 mt-5 ml-5 mr-5 w-75">
    <input type="text" class="form-control" id="user-title-input" placeholder="Title of your post..."
        aria-label="Post Title" aria-describedby="basic-addon2">
</div>

<div id="created-title-container"></div>

<h4 class="ml-5 mt-5">Write your post below:</h4>

<textarea placeholder="Tell the world what's on your mind..." class="ml-5 mt-5 mr-5 w-75 custom-height p-3"
    id="user-content"></textarea>

<div id="user-content-container"></div>

<div class="mt-5" id="button-container">
    <button type="button" id = "submit-btn" class="btn btn-primary ml-5 mr-5 p-3 w-25 custom-btns">Submit Post</button>
</div>

<script src = "../js/write.js"></script>
