html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.carousel {
    width:100%;
    height:360px;
    margin: 0 auto;
  }

.custom-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.custom-nav a {
  color: white;
}

.custom-title {
  font-size: 4rem;
  margin-bottom: 1%;
}

footer {
  background-color: #0275d8;
  font-size: 3rem;
  color: white;
  text-align: center;
  padding: 5%;
}

footer span {
  font-family: 'Lobster', cursive;
}

#post-title {
  color: #0275d8;
}

.custom-post {
  font-size: 24px;
}

.custom-nav {
  font-size: 18px;
}

.custom-monospace {
  font-family: monospace;
}

.custom-height {
  height: 50rem;
}

.custom-btns {
  font-size: 24px;
}